.group-72 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  min-height: 311px;
  width: 281px;
}

.overlap-group {
  height: 23px;
  position: relative;
  width: 265px;
}

.language,
.mentor-level,
.mentoring,
.gender,
.developer,
.coding-language,
.solidity,
.python,
.conferences,
.founder {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 240px;
}

