.coinbase-login-1 {
  align-items: flex-end;
  background-color: var(--lavender);
  border: 1px none;
  border-radius: 8px;
  display: flex;
  height: 71px;
  justify-content: flex-end;
  margin-left: 14.92px;
  margin-top: 13px;
  min-width: 107px;
  padding: 16.3px 34.0px;
}

.group-119-1 {
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 38px;
}

