.x3-loading-nft {
  align-items: center;
  background: linear-gradient(180deg, rgb(236, 139, 106) 0%, rgb(238, 112, 157) 100%);
  background-color: rgba(255,255,255,1.0);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 844px;
  padding: 15px 18px;
  width: 390px;
}

.flex-row-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 272px;
  min-width: 347px;
}

.avatar-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--kimberly);
  border-radius: 20px;
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 6.5px 8px;
}

.ab-3 {
  height: 21px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  width: 20px;
}

.menu-3 {
  height: 35px;
  width: 35px;
}

.logo-final-blanco-3 {
  height: 65px;
  margin-left: 17.0px;
  margin-top: 33px;
  object-fit: cover;
  width: 251px;
}

.circle-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 120px;
  justify-content: center;
  margin-top: 71px;
  min-width: 120px;
}

.overlap-group-5 {
  background-image: url(/static/img/bgd--stroke-@2x.svg);
  background-size: 100% 100%;
  height: 128px;
  margin-top: -4px;
  position: relative;
  width: 128px;
}

.center-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 42px;
  position: absolute;
  top: 42px;
  width: fit-content;
}

.percent-1 {
  color: var(--white);
  font-family: var(--font-family-dm_sans-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.loading-1 {
  color: var(--white);
  font-family: var(--font-family-dm_sans-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x25-stroke-3 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}

.x25-stroke-4 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 64px;
}

.x25-stroke-5 {
  height: 64px;
  left: 64px;
  position: absolute;
  top: 0;
  width: 64px;
}

.social-footer-5 {
  height: 80px;
  margin-top: 401px;
  width: 320px;
}

