.x1-5 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 85px;
  margin-right: 14.0px;
  min-width: 340px;
}

.overlap-group2-2 {
  height: 154px;
  position: relative;
  width: 230px;
}

.logo-sin-fondo-2 {
  height: 154px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 169px;
}

.edit-profile {
  left: 134px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 126px;
}

.ant-designmenu-outlined {
  height: 25px;
  margin-top: 27px;
  width: 25px;
}

.overlap-group1-2 {
  height: 717px;
  margin-left: -68px;
  position: relative;
  width: 501px;
}

.rectangle-34-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 32px;
  box-shadow: 0px 4px 4px #00000040;
  height: 480px;
  left: 88px;
  position: absolute;
  top: 9px;
  width: 350px;
}

.rectangle-62 {
  border: 1px none;
  border-radius: 32px;
  box-shadow: 0px 4px 4px #00000040;
  height: 717px;
  left: 104px;
  position: absolute;
  top: 0;
  width: 319px;
}

.rectangle-63 {
  background-color: var(--porsche);
  border: 1px none;
  height: 37px;
  left: 0;
  position: absolute;
  top: 634px;
  width: 501px;
}

.social-footer-2 {
  height: 80px;
  left: 100px;
  position: absolute;
  top: 586px;
  width: 320px;
}

.overlap-group-2 {
  height: 311px;
  left: 130px;
  position: absolute;
  top: 66px;
  width: 313px;
}

.solidity-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 195px;
  white-space: nowrap;
  width: 240px;
}

.coding-language-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 163px;
  white-space: nowrap;
  width: 240px;
}

.conferences-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 259px;
  white-space: nowrap;
  width: 240px;
}

.founder-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 291px;
  white-space: nowrap;
  width: 240px;
}

.developer-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 131px;
  white-space: nowrap;
  width: 240px;
}

.python-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 227px;
  white-space: nowrap;
  width: 240px;
}

.gender-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 99px;
  white-space: nowrap;
  width: 240px;
}

.language-4 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 240px;
}

.mentoring-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 67px;
  white-space: nowrap;
  width: 240px;
}

.mentor-level-2 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
  width: 240px;
}

.selected-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 164px;
  min-height: 308px;
  position: absolute;
  top: 0;
  width: 149px;
}

.language-5 {
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-left: 1px;
  min-height: 20px;
  white-space: nowrap;
}

.beginner {
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-left: 1px;
  margin-top: 13px;
  min-height: 20px;
  white-space: nowrap;
}

.selected-item-4 {
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-left: 1px;
  margin-top: 12px;
  min-height: 20px;
  white-space: nowrap;
}

.selected-item-5 {
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-left: 1px;
  margin-top: 11px;
  min-height: 20px;
  white-space: nowrap;
}

.intermediate-4 {
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-top: 13px;
  min-height: 20px;
  white-space: nowrap;
}

